// banner

.banner{
    display: flex;
    align-items: center;
    margin-bottom: 285px;
    @include pad{
        display: block;
        margin-bottom: 110px;
    }
}
.banner-img{
    width: 73%;
    @include pad{
        width: 96%;
        margin: 0 auto 36px;
    }
}
.banner-content{
    width: 17%;
    margin: 0 8% 0 2% ;
    img{
        margin-bottom: 13px;
    }
    h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
    h2{
        font-size: 44px;
        font-weight: bold;
        margin-bottom: 14px;
    }
    span{
        border-bottom: 1px solid $main-color;
    }
    @include pad{
        width: 50%;
        margin: 0 auto;
    }
    @include mobile{
        width: 60%;
        margin: 0 5% 0 35%;
        h1{
            font-size: 18px;
        }
        h2{
            font-size: 32px;
        }
        img{
            width: 170px;
        }
    }
}



// 理想的家
.dream-house{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    img{
        width: 54%;
        margin-right: 78px;
        object-fit: cover;
    }
    @include pad{
        display: block;
        margin-bottom: 50px;
        img{
            width: 100%;
            margin-bottom: 80px;
        }
    }
}

.dream-house-content{
    display: flex;
    flex-direction: column;
    span{
        margin-bottom: 26px;
    }
    h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom:20px;
        span{
            border-bottom: 1px solid $main-color;
        }
    }
    p{
        margin: 25px 0 20px;
        line-height: 2.25;
        letter-spacing:5px;
    }
    img{
        width: 80%;
    }
    @include pad{
        img{
            width: 60%;
        }
    }
    @include mobile{
        h2{
            font-size: 28px;
        }
    }
}




// 關於sollys
.about-sollys{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 250px;
    @include pad{
        display: block;
        margin-bottom: 80px;
    }
}

.about-content{
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 0 13% 0 10%;
    span{
        margin-bottom: 26px;
    }
    h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom:20px;
        span{
            border-bottom: 1px solid $main-color;
        }
    }
    p{
        line-height: 2.25;
        letter-spacing:5px;
    }
    @include pad{
        width: 100%;
        margin: 0 auto;
    }
    @include mobile{
        h2{
            font-size: 28px;
        }
    }
}

.deco-sunset{
    position: absolute;
    width: 180px;
    height: 180px;
    top: -10%;
    left: 60%;
    @include pad{
       width: 120px;
       height: 120px;
       left:70%;
       top: 30%;
    }
    @include mobile{
        width: 100px;
        height: 100px;
        left:70%;
        top: 10%;
    }
}

.deco-block{
    width: 30%;
    margin-right: 12%;
    position: relative;
    background-image: url(../images/about-img.jpeg);
    height: 600px;
    background-position: center;
    background-size: cover;
    &::after{
        content:"";
        position: absolute;
        top:30px;
        left: 150px;
        background-color: #DADDDA;
        width: 80%;
        height: 100%;
        z-index: -5;
    }
    @include pad{
        width: 90%;
        height: 450px;
        margin: 0 auto 70px;
    }
    @include mobile{
        &::after{
            left: 30px;
        }
    }
}



// 設計案例
.project{
    text-align: center;
    margin-bottom: 195px;
    h2{
        font-size: 40px;
        font-weight: bold;
        margin-bottom:75px;
        span{
            border-bottom: 1px solid $main-color;
        }
    }
    div{
        display: flex;
        justify-content: flex-end;
    }
    @include mobile{
        h2{
            font-size: 28px;
        }
    }
}

.project-list{
    display: flex;
    margin-bottom: 85px;
    margin: 0 -12px;
    li{
        width: 31%;
        margin: 0 12px 24px;
        box-shadow: 0px 0px 5px $main-color;
    }
    p{
        background-color: #fff;
        font-size: 22px;
        padding: 50px;
        text-align: center;
        color: $main-color;
        transition: all 0.5s ease;
    }
    div{
        overflow: hidden;
        height: 280px;
    }
    img{
        object-fit: cover;
        transition: all 1s ease;
    }
    a:hover{
        img{
            transform: scale(1.2);
            transition: all 0.5s ease;
        }
        p{
            transition: all 0.5s ease;
            background-color: $light-gray;
        }
    }
    br{
        display: none;
    }
    @include pad{
        flex-wrap: wrap;
        li{
            width: 45%;
        }
    }
    @include mobile{
        li{
            width: 100%;
        }
        br{
            display: block;
        }
    }
}
.main-btn{
    // display: block;
    text-align: center;
    color: $main-color;
    background-color: #fff;
    letter-spacing: 10px;
    padding: 20px 40px 20px 60px;
    border-radius: 30px;
    transition: all 0.5s ease;
    border:1px solid transparent;
    &:hover{
        transition: all 0.5s ease;
        background-color: $light-gray;
        border:1px solid $main-color;
    }
}



// 裝修學堂
.class{
    font-family: "Microsoft JhengHei","微軟正黑體",sans-serif ;
    background-image: url(../images/banner02.jpeg);
    height: 715px;  
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    div{
        width: 616px;
        position: relative;
    }
    h2{
        background-color: rgba(83, 93, 96, 0.8);
        padding: 30px;
        font-size: 40px;
        text-align: center;
        letter-spacing: 12px;
        a{
            color: #fff;
            display: block;
        }
        &:hover{
            background-color: rgba(83, 93, 96, 0.6);
        }
    }
    p{
        font-size: 20px;
        background-color: rgba(253, 253, 253, 0.8);
        padding: 10px;
        text-align: center;
        letter-spacing: 15px;
    }
    @include mobile{
        height: 300px;
        div{
            width: 316px;
            position: relative;
        }
        h2{
            font-size: 32px;
        }
        p{
            letter-spacing: 5px;
        }
    }
}

.class-btn{
    font-size: 20px;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    background-color: $dark-red;
    color: #fff;
    position: absolute;
    top: -18%;
    left:-7%;
    transition: all 0.5s ease;
    &:hover{
        transform: scale(1.2);
        transition: all 0.5s ease;
    }
    @include mobile{
        display: none;
    }
}


// 顧客評價
.customer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    @include pad{
        display: block;
    }
}
.customer-title{
    position: relative;
    width: 30%;
    margin:0 5% 0 15%;
    h2{
        font-size: 40px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom:136px;
        span{
            border-bottom: 1px solid $main-color;
        }
    }
    @include pad{
        width: 90%;
        margin: 0 10%;
    }
    @include mobile{
        h2{
            font-size: 28px;
            margin-bottom:24px;
        }
    }
}
.customer-img{
    width: 80%;
    @include pad{
        display: none;
    }
}
.customer-content{
    width: 40%;
    margin-top: 50px;
    margin-right: 10%;
    @include pad{
        width: 90%;
        margin: 0 auto;
    }
}

.feedback-card{
    display: flex;
    @include mobile{
        flex-direction: column-reverse;
    }
}
.card-content{
    position: relative;
    img{
        width: 50px;
    }
    p{
        max-width: 300px;
        margin: 30px 60px;
    }
    span{
        margin: 0 0 30px 60px;
    }
    @include pad{
        p{
            max-width: 500px;
            margin: 15px 30px;
        }
    }
}
.customer-headshot{
    width: 120px;
    height: 116px;
    border-radius: 50%;
    object-fit: cover;
    @include mobile{
        margin-left: auto;
        width: 100px;
        height: 100px;
    }
}
.lower-tab{
    position: absolute;
    right: 20px;
}
.deco-sun{
    position: absolute;
    width: 140px;
    height: 140px;
    top: -55px;
    left: 200px;
    @include mobile{
        width: 75px;
        height: 75px;
        top: -20px;
        left: 200px;
    }
}

.swiper{
    width: 100%;
    height: 700px;
}
