body{
    font-family:'Noto Sans TC', sans-serif;
    font-weight: 500;
    background: #F7F6F2;
    color:$main-color;
    font-size: 18px;
}

.segoe{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
}

.container{
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-bar{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-menu{
    display: flex;
    align-items: center;
    li{
        margin-right: 42px;
        &:last-child{
            margin-right: 0;
        }
    }
    a{
        padding: 20px;
        display: block;
        color:$main-color;
        border-bottom: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid $main-color;
        }
    }
}
.mobile-show{
    display: none;
}


.footer{
    height: 595px;
    background-image: url(../images/footer_bg_lower.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

}

.social-media{
    width: 33%;
    p{
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    ul{
        display: flex;
        margin-bottom: 20px;
    }
    li{
        margin-right: 20px;
    }
    a{
        color: $main-color;
        font-size: 20px;
        display: block;
        &:hover{
            color: $dark-red;
        }
    }
}
.footer-logo{
    width: 33%;
    display: block;
    img{
        width: 123px;
        margin: 0 auto;
    }
}
.company-info{
    color: $main-color;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p{
        margin-bottom: 15px;
    }
    li{
        margin-bottom: 8px;
    }
    a{
        color: $main-color;
        &:hover{
            color: $dark-red;
        }
    }
}


@media (max-width:992px) {
    .container{
        max-width: 830px;
    }
    .footer{
        height: 430px;
    }
}


@media (max-width:767px) {
    .container{
        max-width: 630px;
    }
    .nav-bar{
        padding: 35px 0;
        img{
            width: 100px;
        }
    }
    .mobile-show{
        display: block;
        font-size: 30px;
        font-weight: bold;
    }
    .header-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
        transform: translateY(-300px);
        transition: 1s ease;
        text-align: center;
        li{
            margin-right: 0;
            background: $light-gray;
        }
        a{
            border-bottom:none;
            &:hover{
                border-bottom: none;
                background-color: #fff;
            }   
        }
    }
    
    .footer-box{
        display: block;
        position:relative;
        margin-bottom: 150px;
    }
    .footer-logo{
        width: 100%;
        margin-bottom: 20px;
        img{
            width: 123px;
            margin: 0 0;
        }
    }
    .social-media{
        width: 90%;
        position: absolute;
        top:200px;
        right: 15px;
        left: 15px;
    }
    .copy-right{
        text-align: right;
    }
    .company-info{
        width: 100%;
        align-items: flex-start;
    }
}    


.menu-show{
    transform: translateY(115px);
    transition: 1s ease;
}

.fixed-icon-reserve{
    position: fixed;
    bottom:20px;
    right:20px;
}
.fixed-icon-top{
    position: fixed;
    bottom:125px;
    right:20px;
}
.top-icon, .reserve-icon{
    display: flex;
    width:100px;
    height:100px;
    background:#E28F71;
    -webkit-clip-path:inset(5px 21px 25px 7px round 32px 25px 33px 28px);
    transform:rotate(25deg);
    padding: 5px;
    i{
        transform:rotate(-25deg);
        margin-top: 1px;
        margin-left: 22px;
        color: #fff;
        font-size: 40px;
    }
    }

  .icon-top-show, .icon-reserve-show{
   font-weight: bold;
    color:#E28F71;
    visibility: hidden;
    font-size: 18px;
    text-shadow: 0.1em 0.1em 0.2em #FFF;
  }