*::selection{
    color: white;
    background: #8f8a77;
}
body{
    font-family:'Noto Sans TC', sans-serif;
    font-weight: 500;
    background: #F7F6F2;
    color:$main-color;
    font-size: 18px;
}
a{
    color:$main-color;
}
.segoe{
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
}

.container{
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
    @include pad{
        max-width: 830px;
    }
    @include mobile{
        max-width: 630px;
    }
}
.nav-bar{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include mobile{
        padding: 35px 0;
        img{
            width: 100px;
        }
    }
}
.header-menu{
    display: flex;
    align-items: center;
    li{
        margin-right: 42px;
        &:last-child{
            margin-right: 0;
        }
    }
    a{
        font-size: 20px;
        padding: 16px;
        display: block;
        color:$main-color;
        border-bottom: 2px solid transparent;
        &:hover{
            border-bottom: 2px solid $main-color;
            transition: 1s ease;
        }
    }
    @include mobile{
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 3;
        max-height:0px;
        overflow:hidden;
        transition: 1s ease;
        text-align: center;
        margin: 0 -15px;
        li{
            margin-right: 0;
            background: #F7F6F2;
        }
        a{
            border-bottom:none;
            &:hover{
                border-bottom: none;
                background-color: #fff;
            }   
        }
    }
}
.mobile-show{
    display: none;
    @include mobile{
        display: block;
    }
}
.footer{
    height: 595px;
    background-image: url(../images/footer_bg_lower.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include pad{
        height: 430px;
    }
}
.footer-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    @include mobile{
        display: block;
        position:relative;
        margin-bottom: 150px;
    }
}
.social-media{
    width: 33%;
    p{
        font-size: 14px;
        margin-bottom: 20px;
        font-weight: 400;
    }
    ul{
        display: flex;
        margin-bottom: 20px;
    }
    li{
        margin-right: 20px;
    }
    a{
        color: $main-color;
        font-size: 20px;
        display: block;
        &:hover{
            color: $dark-red;
        }
    }
    @include mobile{
        width: 90%;
        position: absolute;
        top:230px;
        right: 15px;
        left: 15px;
    }
}
.footer-logo{
    width: 33%;
    display: block;
    img{
        width: 123px;
        margin: 0 auto;
    }
    @include mobile{
        width: 100%;
        margin-bottom: 20px;
        img{
            margin: 0;
        }
    }
}
.company-info{
    color: $main-color;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p{
        margin-bottom: 15px;
    }
    li{
        margin-bottom: 8px;
    }
    a{
        color: $main-color;
        &:hover{
            color: $dark-red;
        }
    }
}

@include mobile{
    .copy-right{
        text-align: right;
    }
    .company-info{
        width: 100%;
        align-items: flex-start;
    }
}


.menu-show{
    transition: 1s ease;
    max-height: 500px;
}

.fixed-icon-reserve{
    position: fixed;
    bottom:20px;
    right:20px;
    z-index:10;
    @include mobile{
        right: 10px;
    }
}
.fixed-icon-top{
    position: fixed;
    bottom:125px;
    right:20px;
    z-index:10;
    @include mobile{
        bottom:20px;
        right:80px;
    }
}
.top-icon, .reserve-icon{
    display: flex;
    width:100px;
    height:100px;
    background:#E28F71;
    -webkit-clip-path:inset(5px 21px 25px 7px round 32px 25px 33px 28px);
    transform:rotate(25deg);
    padding: 5px;
    i{
        transform:rotate(-25deg);
        margin-top: 1px;
        margin-left: 22px;
        color: #fff;
        font-size: 40px;
    }
    @include mobile{
        width:80px;
        height:80px;
        i{
            font-size: 24px;
            margin-top: 3px;
        }
    }
}

.icon-top-show, .icon-reserve-show{
   font-weight: bold;
    color:#E28F71;
    visibility: hidden;
    font-size: 18px;
    text-shadow: 0.1em 0.1em 0.2em #FFF;
}
